In [48]:
# import libaries needed
import pandas as pd
import numpy as np

In [23]:
# read in csv file and display data
df = pd.read_csv("election_data.csv")
# display df to show it was read in correctly
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [62]:
# calculate groupby to see number of votes per candidate
df2 = df.groupby(["Candidate"])

# convert groupby into a dictionary to iterate through
groups = dict(list(df2))

# display groupby
df2.count()

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [61]:
# calculate number of votes for each candidate
khan_votes = len(groups["Khan"])
correy_votes = len(groups["Correy"])
li_votes = len(groups["Li"])
otooley_votes = len(groups["O'Tooley"])

# sum votes for all candidates
total_votes = khan_votes + correy_votes + li_votes + otooley_votes

# calculate percentages
khan_percent = np.round((khan_votes / total_votes * 100),decimals=2)
correy_percent = np.round((correy_votes / total_votes * 100), decimals=2)
li_percent = np.round((li_votes / total_votes * 100), decimals=2)
otooley_votes = np.round((otooley_votes / total_votes * 100), decimals=2)
print(li_percent)

14.0