In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# read in csvfile
df = pd.read_csv('budget_data.csv',header=0)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
# convert Profit/Losses column into numpy array for quick math
df2 = df['Profit/Losses'].values

## calculate parameters ##
total_months = len(df['Profit/Losses']) # amount of time we have stock data
total_profit = df2.sum() # sum of all profits
avg_change = np.round(np.diff(df2).mean(),2) # use np.diff to calculate the change between rows. take mean
greatest_inc = np.diff(df2).max() # max change
greatest_dec = np.diff(df2).min() # min change

## use parameters to calculate corresponding location ##

# store differences between rows as a dataframe to use .loc
list_diff = [x for x in np.diff(df2)]
df3 = pd.DataFrame(list_diff)
df3.columns = ['Diff']

# find the greatest inc/dec location and grab row # with .index[0]. Increment by 1 to consider o
greatest_inc_month = df3.loc[df3["Diff"]==greatest_inc,:].index[0] + 1
greatest_inc_month = df["Date"][greatest_inc_month]
greatest_dec_month = df3.loc[df3["Diff"]==greatest_dec,:].index[0] + 1
greatest_dec_month = df["Date"][greatest_dec_month]

In [4]:
# print summary to terminal
print("Total Months: ", len(df['Profit/Losses']))
print("Total: $", df2.sum())
print("Average Change: $", np.round(np.diff(df2).mean(),2))
print("Greatest Increases in Profits: ",greatest_inc_month, " $", np.diff(df2).max())
print("Greatest Decrease in Profits: ",greatest_dec_month," $", np.diff(df2).min())

Total Months:  86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increases in Profits:  Feb-2012  $ 1926159
Greatest Decrease in Profits:  Sep-2013  $ -2196167

In [5]:
# format output file
import sys

sys.stdout = open('output.txt','w')
print("Total Months: ", len(df['Profit/Losses']))
print("Total: $", df2.sum())
print("Average Change: $", np.round(np.diff(df2).mean(),2))
print("Greatest Increases in Profits: ",greatest_inc_month, " $", np.diff(df2).max())
print("Greatest Decrease in Profits: ",greatest_dec_month," $", np.diff(df2).min())